html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 48px;
}

.text-vertical-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Header */
.header {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.header p {
    font-size: 36px;
}

/* Products */
.products {
    display: table;
    width: 100%;
    height: 100%;
}

.products h2 {
    padding-bottom: 10%;
}

.products h3 {
    padding-top: 5%;
    color: #1565C0;
}

.products a:focus,
.products a:hover {
    text-decoration: none;
}

.products img {
    width: 256px;
    max-width: 50%;
}

/* Company */
.company {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.company h2 {
    padding-bottom: 10%;
}

.company-info {
    display: inline-block;
}

.company-info-left {
    width: 25%;
    font-size: 18px;
    text-align: left;
    border-top-style: none !important;
}

.company-info-right {
    width: 50%;
    font-size: 18px;
    text-align: left;
    border-top-style: none !important;
}

/* Footer */
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p {
    color: #777;
}
