html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-weight: 100;
    color: #212121;
}

.text-horizontal-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Header */
.header {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.header h1 {
    font-weight: 100;
    color: #fff;
    margin: 0;
}

.header p {
    color: #fff;
    margin-top: 7px;
    margin-bottom: 0;
}

/* Products */
.products {
    display: table;
    width: 100%;
    height: 100%;
    padding: 36px 0;
}

.products a {
    text-decoration: none;
    color: #1565c0;
}

.products h1 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 36px;
}

.products h2 {
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 0;
}

.products img {
    width: 144px;
}

/* Company */
.company {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 36px 0;
}

.company h1 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 36px;
}

.company-info {
    display: inline-block;
}

.company-info-left {
    font-weight: 400;
    text-align: left;
}

.company-info-right {
    text-align: left;
    margin-bottom: 7px;
}

/* Footer */
.footer {
    padding: 10px 0;
}

.footer p {
    color: #9e9e9e;
    margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .header h1 {
        font-size: 5.4rem;
    }

    .header p {
        font-size: 2.1rem;
        margin-top: 1.05rem;
    }

    .products {
        padding: 5.4rem 0;
    }

    .products h1 {
        font-size: 5.4rem;
        margin-bottom: 5.4rem;
    }

    .products h2 {
        font-size: 4.5rem;
        margin-top: 2.25rem;
    }

    .products img {
        width: 21.6rem;
    }

    .company {
        padding: 5.4rem 0;
    }

    .company h1 {
        font-size: 5.4rem;
        margin-bottom: 5.4rem;
    }

    .company-info-left {
        font-size: 2.1rem;
    }

    .company-info-right {
        font-size: 2.1rem;
        margin-bottom: 1.05rem;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
