html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 100;
}

h2 {
    font-size: 42px;
    font-weight: 100;
}

.text-vertical-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Header */
.header {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.header p {
    font-size: 36px;
    font-weight: 100;
}

/* Products */
.products {
    padding: 10% 0px;
}

.products h2 {
    padding: 0px 0px 10% 0px;
}

.products img {
    width: 256px;
    max-width: 50%;
}

/* Company */
.company {
    padding: 10% 0px;
    background-color: #F5F5F5;
}

.company h2 {
    padding: 0px 0px 10% 0px;
}

/* Footer */
.footer {
    padding: 10px 0px;
}

.footer p {
    color: #777;
}
